<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem name="ChatRoom" id="acrux_live_chat_conversation_menu"
            web_icon="whatsapp_connector,static/description/settings.png"
            sequence="5" action="acrux_live_chat_action" groups="whatsapp_connector.group_chat_basic_extra"/>

        <menuitem name="ChatRoom" id="whatsapp_connector_settings_menu"
            sequence="3"
            parent="base.menu_administration"
            groups="base.group_system"/>
            <menuitem action="whatsapp_connector_connector_action"
                id="whatsapp_connector_connector_menu"
                parent="whatsapp_connector_settings_menu"
                sequence="100"/>
            <menuitem action="view_whatsapp_connector_conversation_action"
                id="whatsapp_connector_conversation_menu"
                parent="whatsapp_connector_settings_menu"
                sequence="110"/>
            <menuitem action="view_whatsapp_connector_message_action"
                id="whatsapp_connector_message_menu"
                parent="whatsapp_connector_settings_menu"
                sequence="120"/>
            <menuitem action="view_whatsapp_connector_default_answer_action"
                id="view_whatsapp_connector_default_answer_menu"
                parent="whatsapp_connector_settings_menu"
                sequence="130"/>
                
            <menuitem action="view_whatsapp_template_waba_action"
                id="view_whatsapp_template_waba_menu"
                parent="whatsapp_connector.whatsapp_connector_settings_menu"
                sequence="180"/>
    </data>
</odoo>
